<section id="todos">
    <p><strong>Vous avez tâche(s) restante(s)</strong></p>
    <mat-form-field class="full-width">
        <mat-label>Ajouter une tâche</mat-label>
        <input type="text" matInput>
    </mat-form-field>

    <app-todo></app-todo>
   
    <mat-accordion [hidden]="isHidden">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Terminée(s)
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>


</section>